# If "start.node" is false - all other parameters in this file are ignored
start.node=false

# Recommended way is to use a separate elasticsearch installation on remote hosts 

# If "start.node" is true - Flink-ESB instance will start a local elasticsearch instance within its JVM (not recommended in higher environments)
### Path to folder where elasticsearch data is stored
path.home=c:/tmp/elasticsearch
path.data=c:/tmp/elasticsearch
path.logs=c:/tmp/elasticsearch/logs

# Name of local elasticsearch cluster
cluster.name=flink-esb
# If "http.enabled" is true: HTTP interface to administer elasticsearch is started (not recommended in production)
http.enabled=true
# Ports range for HTTP interface
http.port=9250-9260
# Ports range for communication between elasticsearch nodes
transport.tcp.port=9350-9360
# Some unique name
node.name=eclipse
network.host=0.0.0.0
# disable multicast
discovery.zen.ping.multicast=false
discovery.zen.ping.multicast.enabled=false
### list of elasticsearch nodes
discovery.zen.ping.unicast.hosts=192.168.2.116,192.168.2.105
